<div class="clearfix">
    <h2>The Value of Money</h2>
    <figure>
       <img src="./img/building.png" alt="apartment" /> 
       <figcaption></figcaption>
    </figure>
    <p>Money has no inherent value in and of itself, as it is simply paper. However, we live in a global society whereby we need a certain amount of finances in order to survive day to day. Furthermore, money is freedom. When one has to worry about their lack of money, they cannot progress. Having a certain amount of money is required to purchase basic necessities such as food and shelter. It is naive to think that money is not valuable in a more metaphorical sense. One need only look at sections of society who are either homeless or low-income to realize that there is a strong value placed on money.
    </p>

</div>

<div class="clearfix">
<div class="gmo">
    <h2>GMO Food</h2>
        <p>Such foods may be required in the future, especially given the inevitable rise in population, which will lead to an inevitable food shortage. While these foods may be somewhat frightening in how "unnatural" they are, in reality, many foods that we currently consume are gentically modified. It is important that they are all labelled, so people can have the option to purchase and consume them or not.
        </p>
</div>

<div class="world">
    <h2>The View of the World in 2100</h2>
        <p>The world will become an increasingly difficult place to inhabit as a result of global warming, with increased temperatures that will be unbearable. Additionally, as populations increae there will be more global conflict as urban centres will become overpopulated and there will be a decrease in available resources to sustain the population. For example, food will definitely be in shortage, and as temperatures rise there will be a shortage of available water. One can also expect ethnicities to be more homogoenized, as ethnic groups will continue to intermingle and reproduce to each other. In other words, the world will be more "brown".
        </p>
</div>


</div>